<div class="row center-xs">
    <div class="col-xs-12">
        <div class="box">
            <nav class="navbar navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-light bg-danger d-flex justify-content-center" >
                <div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                
                  <div class="collapse navbar-collapse" >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item" routerLinkActive="active">
                          <a class="nav-link" [style.color]="'white'" routerLink="/home" routerLinkActive="active">Inicio</a>
                      </li>
                      <li class="nav-item" routerLinkActive="active">
                          <a class="nav-link" [style.color]="'white'"  routerLink="/about-us" routerLinkActive="active">Quienes Somos</a>
                      </li>
                      <li class="nav-item" routerLinkActive="active">
                          <a class="nav-link" [style.color]="'white'" routerLink="/our-services" routerLinkActive="active">Servicios</a>
                      </li>
                      <li class="nav-item" routerLinkActive="active">
                          <a class="nav-link" [style.color]="'white'" routerLink="/help" routerLinkActive="active">Ayuda</a>
                      </li>
                      <li class="nav-item dropdown" routerLinkActive="active">
                          <a class="nav-link  dropdown-toggle" [style.color]="'white'" id="dropStudios" data-bs-toggle="dropdown" aria-expanded="false" role="button" routerLinkActive="active">Studios</a>
                          <ul class="dropdown-menu" aria-labelledby="dropStudios">
                            <li> <a class="dropdown-item" routerLink="/studios" >Studio 1 </a></li>
                          </ul>
                      </li>
                      <li class="nav-item" routerLinkActive="active">
                          <a class="nav-link" [style.color]="'white'" routerLink="/contact" routerLinkActive="active">Contacto</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
    </div>
</div>
    
 
 