.borders-card {
    float: left;
    width: 33.3333%;
}

.column-item {
    box-shadow: 0 0 74px rgba(10, 10, 10,0.07); 
    -moz-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); 
    -webkit-box-shadow: 0 0 74px rgba(10, 10, 10,0.07); 
}

.content_items {
    clear: both;
    padding: 0px 0px 20px 0px;
    position: relative;
}

.content-card-item {
    padding: 60px 30px 35px 30px;
}

.content-image {
    margin-bottom: 25px;
    line-height: 0;
    position: relative;
}

.title-card {
    font-size: 22px;
    text-transform: none;
    color: #ec193f;
}

.text-content-card {
    font-size: 16px;
    color: #525a70 ;
}

.item-columns {
    float: left;
    width: 33.3333%;
    margin-bottom: 30px;
}

.item-center-align {
    text-align: center;
}
